.single-container
  %main.single-main
    %section.l-single-container
      %h2.l-single-head
        会員情報登録
      = form_for new_user_registration_path, html: {class: "l-single-inner"} do |f|
        .l-single-content
          .form-group
            %label{for:"nickname"}
              ニックネーム
            %span.form-require
              必須
            %input.input-default{type:"text", name:"name", placeholder:"ニックネーム"}
          .form-group
            %label{for:"email"}
              メールアドレス
            %span.form-require
              必須
            %input.input-default{type:"email", name:"email", placeholder:"PC・携帯どちらでも可"}
          %input{type:"hidden", name:"login-type"}
          .form-group
            %label{for:"password"}
              パスワード
            %span.form-require
              必須
            %input.input-default{type:"password", name:"password", placeholder:"6文字以上"}
          .form-group
            %label{for: "password"}
              パスワード(確認)
            %span.form-require
              必須
            %input.input-default{type: "password", name: "password2", placeholder: "6文字以上"}
          %input{type: "hidden", name:"after_save_callback"}
          .form-group
            .g-recaptcha{"data-sitekey" => "6LfSwIcUAAAAAIBEW5Yz-CCURyOuZJgncV5hgfHH"}
          .form-group.rbt
          = link_to "secondpage" do
            %button.btn-default.btn-red{type:"submit"}
              次に進む

