%section.mypage-tab-container-notification-todo
  %ul.mypage-tabs
    %li.bold.active
      %h3
        =link_to "お知らせ", "#"
    %li.bold
      %h3
        =link_to "やることリスト", "#"
  .tab-content
    %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
      %li
        =link_to "#", class: "mypage-item-link" do
          %figure
            %img.lazyloaded{:alt => "", "data-src" => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png"}/
          .mypge-item-body
            .mypage-item-text
              【期間限定のお得情報】2018年話題になった賞品をプレゼント！キャンペーン詳細はこちら
            %time
              %i.icon-time
              %span
                4日前
          %i.icon-arrow-right
      %li
        =link_to "#", class: "mypage-item-link" do
          %figure
            %img.lazyloaded{:alt => "", "data-src" => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png"}/
          .mypge-item-body
            .mypage-item-text
              【期間限定のお得情報】2018年話題になった賞品をプレゼント！キャンペーン詳細はこちら
            %time
              %i.icon-time
              %span
                4日前
          %i.icon-arrow-right
      %li
        =link_to "#", class: "mypage-item-link" do
          %figure
            %img.lazyloaded{:alt => "", "data-src" => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png"}/
          .mypge-item-body
            .mypage-item-text
              【期間限定のお得情報】2018年話題になった賞品をプレゼント！キャンペーン詳細はこちら
            %time
              %i.icon-time
              %span
                4日前
          %i.icon-arrow-right
      %li
        =link_to "#", class: "mypage-item-link" do
          %figure
            %img.lazyloaded{:alt => "", "data-src" => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png"}/
          .mypge-item-body
            .mypage-item-text
              【期間限定のお得情報】2018年話題になった賞品をプレゼント！キャンペーン詳細はこちら
            %time
              %i.icon-time
              %span
                4日前
          %i.icon-arrow-right
      %li.mypage-go-list
        =link_to "一覧を見る", "#"
