.top-carousel {
  height: 390px;
  overflow: hidden;
  position: relative;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    .owl-stage-outer {
      height: 100%;
      position: relative;
      overflow: hidden;
        .owl-stage {
          height: 100%;
            .prev-arrow {
              cursor: pointer;
              position: absolute;
              top: 45%;
              left: 60px;
              z-index: 1;
            }
            .next-arrow {
              cursor: pointer;
              position: absolute;
              top: 45%;
              right: 60px;
              z-index: 1;
            }
            .top-main-visual {
              height: 390px;
              background: url(https://www.mercari.com/jp/assets/img/common/jp/top/main_bg_pc.jpg);
              background-size: cover;
                div {
                  max-width: 860px;
                  position: relative;
                  height: 390px;
                  margin: 0 auto;
                    .top-main-visual-content {
                      position: absolute;
                      top: 50px;
                      left: 0;
                      height: 298px;
                      width: 480px;
                        h2 {
                          font-size: 60px;
                          line-height: 1.2;
                          font-weight: bold;
                          color: #333;
                        }
                        p {
                          font-size: 18px;
                          margin: 16px 0 0;
                          line-height: 1.77778;
                          color: #333;
                        }
                        .top-main-visual-store {
                          margin: 24px 0 0;
                          line-height: 0;
                          height: 50px;
                            a {
                              width: 170px;
                              height: 50px;
                              display: inline-block;
                              margin: 0 0 0 8px;
                                img {
                                  width: 100%;
                                  vertical-align: bottom;
                                }
                            }
                            a:hover {
                              opacity: 0.7;
                            }
                            a:first-child {
                              margin: 0;
                            }
                        }
                        .clearfix:after {
                          content: '';
                          display: block;
                          clear: both;
                        }
                    }
                    .top-main-visual-iphone-picture {
                          position: absolute;
                          top: 0;
                          right: 0;
                          height: 100%;
                          width: auto;
                    }
                }
            }
            .banner-bokurano-heisei {
              display: block;
              height: 390px;
              background-image: url(https://www.mercari.com/jp/assets/img/common/jp/top/banner-bokurano-heisei.jpg);
            }
            .banner-kusanagi {
              display: block;
              height: 390px;
              background-image: url(https://www.mercari.com/jp/assets/img/common/jp/top/top-banner-kusanagi.jpg);
            }
            .banner-welcome {
              display: block;
              height:390px;
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              background-color: #D9F7FF;
              background-image: url(https://www.mercari.com/jp/assets/img/common/jp/top/top-banner-welcome.png);
            }
        }
    }
    .slide-dots {
      margin: -30px;
      text-align: center;
      position: relative;
        li {
          display: inline-block;
          margin: 0 15px 0 0;
            button {
              position: relative;
              text-indent: -9999px;
              cursor: pointer;
              border-radius: 50%;
              display: inline-block;
              padding: 0;
              height: 12px;
              width: 12px;
              overflow: hidden;
              border: none;
              background-color: #fff;
              opacity: .4;
              pointer-events: none;
              outline: 0;
            }
        }
        .slick-active {
              button {
                cursor: default;
                opacity: 0.9;
                background-color: rgba(0,0,0,0.5);
              }
        }
    }
}





















.pickup-container {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  padding: 40px 0;
  background: #f5f5f5;
  .pickup-head {
    font-size: 28px;
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
  }
  .items-box-container {
    width: 940px;
    margin: 0 auto;
    .text-center {
      font-size: 22px;
      margin: 22px 11px;
      text-align: center;
      a{
        text-decoration: none;
        color: #0099e8;
        font-weight: bold;
      }
    }
    .items-box-content.clearfix{
      width: auto;
      margin: 0 auto;
      height: 330px;
      .items-box{
        margin: 0 0 0 20px;
        width: 213px;
        background-color: blue;
        float: left;
        background: #fff;
        position: relative;
        a{
          display: block;
          color: #333;
          text-decoration: none;
          .items-box-photo {
            &-badge{
            div{
              background-color: red;
              position: absolute;
              left: 0;
              z-index: 2;
              color: #fff;
              transform: rotate(-45deg);
              letter-spacing: 2px;
              font-weight: 600;
              top: 24px;
              font-size: 28px;
            }
          }
          &-badge:after{
            border-width: 120px 120px 0 0;
            border-color: #ea352d transparent transparent transparent;
            display: block;
            content: ‘’;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 0;
            height: 0;
            border-style: solid;
          }
            width: 213px;
            overflow: hidden;
            position: relative;
            padding: 0 0 100%;
            margin: 0;
            .is-higher-height.lazyloaded{
              position: absolute;
              z-index: 1;
              width: 100%;
              height: 100%;
            }
          }
          .items-box-body{
            padding: 16px 16px 8px 16px;
            .items-box-name{
              overflow: hidden;
              position: relative;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
              font-size: 16px;
              color: #333;
            }
            .items-box-num.clearfix{
              margin: 8px 0 0;
              .items-box-price{
                font-size: 19px;
                float: left;
                font-weight: 600;
                color: #333;
              }
              .items-box-likes{
                float: right;
                font-size: 16px;
                vertical-align: middle;
                .fa-heart{
                display: inline-block;
                speak: none;
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                color: #ccc;
                vertical-align: inherit;
                }
                span{
                  display: inline-block;
                  vertical-align: middle;
                }
              }
              .item-box-tax{
                font-size: 10px;
                clear: both;
              }
            }
          }
        }
      }
    }
    .view-all{
      padding: 20px 0 30px;
      width: 99.5%;
      text-align: right;
      a{
        color: #0099e8;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}











