.single-container{
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  .single-header{
    height: 128px;
    text-align: center;
    img{
      width: 185px;
      height: 49px;
      margin: 40px 0 0;
    }
  }
  main.single-main{
    section.l-single-container{
      width: 700px;
      margin: 0 auto;
      .l-single-head{
        background-color: white;
        border-bottom-color: #f5f5f5;
        border-bottom-width: 0px;
        width: 668px;
        height: 33px;
        font-size: 22px;
        padding: 32px 16px;
        text-align: center;
        font-weight: bold;
        color: #333;
        line-height: 1.5;
      }
      .l-single-inner{
        border-top:solid 1px #f5f5f5;
        background-color: white;
        padding: 64px;
        .l-single-content{
          height: 182px;
          width: 320px;
          margin: 0 auto;
          .btn-default.btn-mail{
            text-decoration: none;
            background-color: #eee;
            color: black;
            height: 50px;
            width: 320px;
            font-size: 14px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            font-family: inherit;
            .fa.fa-envelope-o{
              font-weight: bold;
              color: #ccc;
              font: normal normal normal 20px/1 FontAwesome;
              float: left;
              padding-left: 14px;
            }
          }
          .btn-default.btn-sns.btn-sns-facebook{
            background-color: #385185;
            height: 50px;
            width: 320px;
            margin: 16px 0 0;
            color: #fff;
            font-size: 14px;
            font-family: inherit;
            .fa.fa-facebook-official{
              font: normal normal normal 22px/1 FontAwesome;
              float: left;
              padding-left: 10px;
            }
          }
          .btn-default.btn-sns.btn-sns-google{
            background-color: #dc4e41;
            height: 50px;
            width: 320px;
            margin: 16px 0 0;
            border: 1px solid;
            color: #fff;
            font-size: 14px;
            font-family: inherit;
            .fab.fa-google-plus-g{
              font: normal normal normal 18px/1 FontAwesome;
              float: left;
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
  .single-footer{
    width: 456px;
    height: 250px;
    padding: 40px 0;
    text-align: center;
    margin: 0 auto;
    nav{
      width: 452px;
      height: 12px;
      ul.clearfix{
        margin: 0 auto;
        text-align: center;
        li{
          display: inline-block;
          font-size: 12px;
          padding-left: 10px;
          list-style: none;
          a{
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    .single-footer-logo{
      display: block;
      margin: 40px auto 0;
      height: 65px;
      width: 80px;
      text-align:center;
      img{
        margin: auto;
        height: 65px;
        width: 80px;
        vertical-align: middle;
      }
    }
    p{
      margin: 8px 0 0;
      width: 456px;
      height: 14px;
      font-size: smaller;
      text-align: center;
    }
  }
}
