.item-box-container{
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  background-color: #FFF;
  margin: 40px auto 0;
  width: 700px;
  padding: 24px 40px 40px;
  box-sizing: border-box;
    .item-name{
      font-size: 24px;
      text-align: center;
    }
    .item-main-content{
      margin: 16px 0 0;
      width: 620px;
      .item-photo{
        position: relative;
        float: left;
        min-width: 300px;
        max-width: 300px;
        max-height: 375px;
        margin: 0 auto;
        background: #fafafa;
          .owl-carousel{
            position: relative;
            .owl-stage-outer{
              overflow: hidden;
              position: relative;
              .owl-stage-product{
                left: 0px;
                .owl-item{
                  width: 300px;
                  height: 300px;
                  min-height: 1px;
                  float: left;
                  .owl-item-inner{
                    min-height: 300px;
                    position: relative;
                    width: 100%;
                    height: 0;
                    padding: 0 0 100%;
                    img{
                      position: absolute;
                      top: 0;
                      left: 0;
                      right: 0;
                      margin: auto;
                      max-width: 100%;
                      height: 280px;
                    }
                  }

                }
                  .owl-dots{
                    line-height: 0;
                    margin: 0;
                    cursor: default;
                    max-height: none;
                    font-size: 0;
                    li{
                      width: 75px;
                      height: 75px;
                      position: relative;
                      overflow: hidden;
                      display: inline-block;
                      line-height: 0;
                      opacity: 0.6;
                      img{
                        line-height: 0;
                        position: static;
                        width: auto;
                        height: 75px;
                        padding: 0;
                        width: 100%;
                        height: 100%;
                        vertical-align: bottom;
                      }
                    }
                    .slick-active{
                      opacity: 1;
                    }
                }
              }
            }
          }
          .item-sold-out-badge{
            div{
              position: absolute;
              left: 0;
              z-index: 2;
              color: #fff;
              transform: rotate(-45deg);
              letter-spacing: 2px;
              font-weight: 600;
              top: 24px;
              font-size: 28px;
            }
          }
          .item-sold-out-badge:after{
            border-width: 120px 120px 0 0;
            border-color: #ea352d transparent transparent transparent;
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 0;
            height: 0;
            border-style: solid;
          }
      }
      .item-detail-table{
        box-sizing: border-box;
        height: 100%;
        float: right;
        width: 100%;
        max-width: 300px;
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
        border: 1px solid #f5f5f5;
        tbody{
          vertical-align: middle;
          border-color: inherit;
          font-size: 14px;
          tr{
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            border: 1px solid #f5f5f5;
            th{
              display: table-cell;
              vertical-align: inherit;
              width: 39%;
              text-align: left;
              font-weight: 400;
              background: #fafafa;
              border: 1px solid #f5f5f5;
              padding: 8px;
              padding-left: 23px;
            }
            td{
              width: 61%;
              background: #fff;
              padding: 8px;
              a{
                color: #0099e8;
                text-decoration: none;
              }
              div{
                .item-user-ratings{
                  display:inline-block;
                  .fa-smile{
                  color: #ef5185;
                  }
                }
                .item-user-ratings{
                  display:inline-block;
                  .fa-meh{
                  color: #fba933;
                  }
                }
                .item-user-ratings{
                  display:inline-block;
                  .fa-frown{
                  color: #6ab5d8;
                  }
                }
              }
            }
          }
        }
      }
      &.clearfix:after {
      content: '';
      display: block;
      clear: both;
      }

    }
    .item-price-box{
      margin: 24px 0 0;
      text-align: center;
        .item-price{
          margin: 0 16px 0 0;
          font-size: 50px;
          font-weight: 600;
        }
        .item-tax{
          font-size: 10px;
        }
    }
    .item-buy-btn {
      display: block;
      height: 56px;
      margin: 16px 0 0;
      color: #fff;
      line-height: 56px;
      text-align: center;
      font-weight: 600;
      font-size: 24px;
      background-color: #ea352d;
    }
    .disabled{
      background-color: #888;
    }
    .item-description{
      padding: 32px 0 0;
      line-height: 1.5;
      font-size: 18px;
    }
    .item-button-container {
      font-size: 14px;
      margin: 16px 0 40px;
      vertical-align: middle;
      .item-button-left {
        float: left;
        .item-button-like {
          color: #333;
          font-size: 14px;
          border: 1px solid #f5f5f5;
          background: #f5f5f5;
          display: inline-block;
          padding: 8px 16px;
          border-radius: 40px;
          .fa-heart{
            color: #ccc;
          }
        }
        .item-button-liked {
          color: #333;
          font-size: 14px;
          border: 1px solid #ea352d;
          background: #fff;
          display: inline-block;
          padding: 8px 16px;
          border-radius: 40px;
          .fa-heart{
            color: #ea352d;

          }

        }

        .item-button-report{
          margin: 0 0 0 16px;
          display: inline-block;
          background: #f5f5f5;
          border-radius: 40px;
          padding: 8px 16px;

        }
      }
      .item-button-right{
        margin: 8px 0 0;
        float: right;
        a{
          color: #0099e8;
          text-decoration: none;

        }
      }
    }
}

.listing-item-change-box{
  margin: 24px auto;
  background: #fff;
  padding: 8px 16px 8px 16px;
  width: 700px;
  box-sizing: border-box;
  .btn-default{
    margin: 16px 0 16px 0;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
  }
  .btn-red{
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
  }
  p{
    font-size: 16px;
  }
  .text-center{
    text-align: center;
  }
  form{
    .btn-default{
      margin: 16px 0 16px 0;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
    }
    .btn-red{
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    }
  }
  .btn-gray{
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
  }
}




.nav-item-link-prev-next {
  margin: 24px auto 0;
  width: 700px;
  .nav-item-link-prev {
    width: 45%;
    float: left;
    padding: 0 0 0 14px;
    a{
      color: #0099e8;
      text-decoration: none;
      .i{

      }
    }
  }
  .nav-item-link-next{
    width: 45%;
    float: right;
    text-align: right;
    padding: 0 0 0 14px;
    a{
      color: #0099e8;
      text-decoration: none;
      .i{

      }
    }
  }
  &.clearfix:after {
  content: '';
  display: block;
  clear: both;

}

}
.item-social-media-box {
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background: #fff;

  .social-media-box{
    margin: 16px 0 0;
    text-align: center;
    li{
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
        a{
          .fa-facebook{
            width: 44px;
            height: 44px;
            border-radius: 4px;
            line-height: 44px;
            color: #fff;
            background: #385185;
            font-size: 18px;
            display: inline-block;
          }
         .fa-twitter{
           width: 44px;
           height: 44px;
           border-radius: 4px;
           line-height: 44px;
           color: #fff;
           background: #5d9dc9;
           font-size: 16px;
           display: inline-block;

        }
        .fa-line{
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
          color: #fff;
          background: #00c137;
          font-size: 22px;
          display: inline-block;
        }
        .fa-pinterest{
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
          color: #fff;
          background: #aa262a;
          font-size: 18px;
        }
      }
    }
  }

}


.item-detail-message{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  width: 700px;
  margin: 8px auto;
  .message-container{
    .message-content{
      padding: 24px;
      background: #fff;
      .message-items{
        margin: 0;
        list-style: none;
        li{
          margin: 60px 0 0;
          .message-user{
            float: left;
            position: relative;
            top: -20px;
            display: inline-block;
            color: #333;
            text-decoration: none;
            figure{
              margin: 0;
              padding: 0;
              div{
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 50%;
                img{
                  width: 100%;
                  vertical-align: middle;
                }
              }
              .bold{
                width: 600px;
                min-width: 600px;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 56px;
                max-width: 100%;
                min-width: 214px;
                height: 1.2em;
                text-overflow: ellipsis;
                font-weight: 600;
              }
            }
            .message-is-seller{
              position: absolute;
              margin: 8px 0 0;
              padding: 2px;
              height : 20px;
              background: #eef0f4;
              color: #000;
              font-size: 11px;
              border-radius: 2px;
              vertical-align: top;
            }
          }
          .message-body{
            font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
            width: 568px;
            float: right;
            position: relative;
            bottom: -5px;
            left: 0px;
            padding: 16px;
            background: #eef0f4;
            border-radius: 15px;
            line-height: 1.5;
            word-break: break-all;
            .message-body-text{
              width: 568px;
            }
            &:before{
              content: '';
              position: absolute;
              display: block;
              width: 0;
              height: 0;
              left: -14px;
              top: 10px;
              border-left: 20px solid #eef0f4;
              border-bottom: 10px solid transparent;
              transform: rotate(-136deg);
            }
            .message-icons{
              margin: 8px 0 0;
              .message-icon-left{
                float: left;
                color: #aaa;
                .fa-clock{
                  display: inline-block;
                  color: #aaa;
                }
              }
              .message-icon-right{
                display: inline-block;
                color: #aaa;
                text-decoration: none;
                cursor: pointer;
                float: right;
                color: #aaa;
                a{
                  color: #aaa;
                }
                form{
                  button{
                    background-color: transparent;
                    outline: none;
                    border: none;
                    color: #aaa;

                  }
                }
              }
            }
          }
        }
        .clearfix:after {
          content: '';
          display: block;
          clear: both;
        }
      }
    }
  }
  .message-form{
    p{
      padding: 8px;
      font-size: 14px;
      background: #fff6de;
    }
    textarea{
      margin: 8px 0 0;
      display: block;
      width: 630px;
      max-width: 100%;
      min-height: 104px;
      padding: 10px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
      line-height: 1.5;
    }
    .message-submit{
      width: 100%;
      display: block;
      margin: 8px 0 0;
      font-size: 14px;
      text-align: center;
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
      line-height: 48px;
      span{
        vertical-align: middle;
      }
    }
  }
}

.items-container{
  margin: 0 auto;
  padding-bottom: 20px;
  &-head{
    font-size: 22px;
    margin: 24px 4% 8px;
    line-height: 1.4;
    p{
      color: #0099e8;
    }
  }
  &-content.clearfix{
        width: auto;
        margin: 0 auto;
        height: 330px;
        .items-box{
          margin: 0 10px 20px 10px;
          width: 213px;
          background-color: blue;
          float: left;
          background: #fff;
          position: relative;
          a{
            display: block;
            color: #333;
            text-decoration: none;
            .items-box-photo {
              &-badge{
              div{
                background-color: red;
                position: absolute;
                left: 0;
                z-index: 2;
                color: #fff;
                transform: rotate(-45deg);
                letter-spacing: 2px;
                font-weight: 600;
                top: 24px;
                font-size: 28px;
              }
            }
            &-badge:after{
              border-width: 120px 120px 0 0;
              border-color: #ea352d transparent transparent transparent;
              display: block;
              content: ‘’;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              width: 0;
              height: 0;
              border-style: solid;
            }
              width: 213px;
              overflow: hidden;
              position: relative;
              padding: 0 0 100%;
              margin: 0;
              .is-higher-height.lazyloaded{
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
              }
            }
            .items-box-body{
              padding: 16px 16px 8px 16px;
              .items-box-name{
                overflow: hidden;
                position: relative;
                font-weight: 400;
                height: 3em;
                line-height: 1.5;
                word-break: break-word;
                white-space: normal;
                font-size: 16px;
                color: #333;
              }
              .items-box-num.clearfix{
                margin: 8px 0 0;
                .items-box-price{
                  font-size: 19px;
                  float: left;
                  font-weight: 600;
                  color: #333;
                }
                .items-box-likes{
                  float: right;
                  font-size: 16px;
                  vertical-align: middle;
                  .fa-heart{
                  display: inline-block;
                  speak: none;
                  font-style: normal;
                  font-weight: 400;
                  font-variant: normal;
                  text-transform: none;
                  line-height: 1;
                  color: #ccc;
                  vertical-align: inherit;
                  }
                  span{
                    display: inline-block;
                    vertical-align: middle;
                  }
                }
                .item-box-tax{
                  font-size: 10px;
                  clear: both;
                }
              }
            }
          }
        }
      }
    }
