.single-main {
  background: #f5f5f5;
    .sell-item-container {
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      color: #333;
      font-size: 14px;
      width: 700px;
      margin: 0 auto;
      background: #fff;
        .l-single-head {
          padding: 32px 16px;
          font-size: 22px;
          line-height: 1.5;
          text-align: center;
          font-weight: bold;
        }
        .sell-form {
          border-top: 1px solid #eee;
            @media screen and (min-width: 768px) {
              .sell-upload-box {
                width: 620px;
                padding: 40px;
                  .sell-upload-head {
                    font-size: 16px;
                    font-weight: bold;
                      .form-require {
                        background: #ea352d;
                        margin: 0 0 0 8px;
                        padding: 2px 4px;
                        border-radius: 2px;
                        color: #fff;
                        font-size: 12px;
                        vertical-align: top;
                      }
                  }
                  p {
                    margin: 8px 0 0;
                    line-height: 1.5;
                  }
                  .sell-dropbox-container {
                    width: 620px;
                    margin: 16px auto 0;
                      .sell-upload-items {
                        float: left;
                        display: block;
                          ul {
                            list-style: none;
                            display: block;
                            width: 100%;
                          }
                      }
                      .sell-upload-drop-box {
                            float: right;
                            position: relative;
                            width: 538px;
                            // width: 50px;
                            margin: 0;
                            min-height: 102px;
                            padding: 40px;
                            background: #f5f5f5;
                            border: 1px dashed #ccc;
                            // font-size: 0;
                            text-align: center;
                            cursor: pointer;
                              pre {
                                position: absolute;
                                top: 40%;
                                left: 16px;
                                right: 16px;
                              }
                      }
                      .have-item {
                        margin: 0 0 0 20px;
                      }
                      .file {
                        // display: none;
                      }
                  }
                  .clearfix:after {
                    content: "";
                    display: block;
                    clear: both;
                  }
              }
              .sell-content {
                padding: 40px;
                border-top: 1px solid #eee;
                  .form-group:first-child {
                    margin: 0;
                  }
                  .form-group {
                    margin: 40px 0 0;
                      label {
                        font-weight: 600;
                          .form-require {
                            background: #ea352d;
                            margin: 0 0 0 8px;
                            padding: 2px 4px;
                            border-radius: 2px;
                            color: #fff;
                            font-size: 12px;
                            vertical-align: top;
                          }
                      }
                      .input-default {
                        // box-sizing: border-box;
                        width: 586px;
                        margin: 8px 0 0;
                        height: 28px;
                        padding: 10px 16px 8px;
                        border-radius: 4px;
                        border: 1px solid #ccc;
                        background: #fff;
                        line-height: 1.5;
                        font-size: 16px;
                      }
                      .textarea-default {
                        box-sizing: border-box;
                        margin: 8px 0 0;
                        display: block;
                        width: 100%;
                        max-width: 100%;
                        min-height: 104px;
                        padding: 10px;
                        border: 1px solid #ccc;
                        background: #fff;
                        font-size: 16px;
                        line-height: 1.5;
                        // outline: 0;
                      }
                      .select-wrap {
                        margin: 8px 0 0;
                        position: relative;
                        background: #fff;
                        width: 400px;
                          .select-default {
                            -webkit-appearance: none;
                            width: 100%;
                            position: relative;
                            z-index: 2;
                            height: 48px;
                            padding: 0 16px;
                            border-radius: 4px;
                            border: 1px solid #ccc;
                            background: 0;
                            font-size: 16px;
                            line-height: 1.5;
                            cursor: pointer;
                            // outline: 0;
                          }
                          .fa-chevron-down {
                            position: absolute;
                            top: 35%;
                            right: 16px;
                            color: #888;
                            font-size: 18px;
                          }
                      }
                  }
                  .sell-sub-head {
                    float: left;
                    color: #888;
                    font-size: 14px;
                    font-weight: bold;
                  }
                  .sell-form-box {
                    float: right;
                    width: 400px;
                    margin: 0;
                  }
                  .form-question {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    background: #0099e8;
                    color: #fff;
                    line-height: 14px;
                    font-size: 12px;
                    text-align: center;
                    text-decoration: none;
                  }
                  .form-question:hover {
                    text-decoration: underline;
                    opacity: 0.6;
                  }
                  .sell-price {
                    list-style: none;
                      li:first-child {
                        padding: 0 0 24px;
                        border: 0;
                      }
                      li {
                        padding: 24px 0;
                        border-top: 1px solid #ccc;
                          .clearfix {
                            content: "";
                            display: block;
                            clear: both;
                              .l-left {
                                width: 50%;
                                line-height: 48px;
                                float: left;
                              }
                              .l-right {
                                float: right;
                                width: 50%;
                              }
                              .sell-price-input {
                                text-align: right;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                  div {
                                    display: inline-block;
                                    margin: 0 0 0 5%;
                                     .input-default {
                                        text-align: right;
                                        margin: 0;
                                        width: 126px;
                                        float: right;
                                      }
                                  }
                              }
                          }
                          .l-left {
                            float: left;
                          }
                          .l-right {
                            float: right;
                          }
                      }
                      .bold {
                        font-weight: 600;
                          .l-left {
                            font-size: 16px;
                          }
                          .l-right {
                            font-size: 28px;
                          }
                      }
                  }
              }
              .sell-btn-box {
                  p {
                    line-height: 1.5;
                      a {
                        &:hover {
                          text-decoration: underline;
                          opacity: 0.6;
                        }
                        color: #0099e8;
                        text-decoration: none;
                      }
                  }
                  .btn-default {
                    display: block;
                    line-height: 48px;
                    font-size: 14px;
                    transition: all ease-out .3s;
                    cursor: pointer;
                    text-align: center;
                  }
                  .btn-red {
                      &:hover {
                        background-color: rgb(220, 0, 19);
                      }
                    margin: 40px 0 0;
                    background: #ea352d;
                    border: 1px solid #ea352d;
                    color: #fff;
                    width: 100%;
                  }
                  .btn-gray {
                      &:hover {
                        opacity: 0.7;
                      }
                    width: 45%;
                    margin: 24px auto 0;
                    background: #aaa;
                    border: 1px solid #aaa;
                    color: #fff;
                  }
              }
              .clearfix:after {
                content: "";
                display: block;
                clear: both;
              }
            }
        }
    }
}
