.single-container{
  padding: 0 0 220px;
  .single-main{
    display: block;
    .login-panel{
      max-width: none;
      width: 456px;
      margin: 0 auto;
      background: #fff;
      .login-no-account{
        padding: 40px 64px;
        text-align: center;
        font-size: 14px;
        border-bottom: 1px solid #eee;
        .new_btn{
          display: block;
          margin: 8px 0 0;
          border: 1px solid #0099e8;
          background: #0099e8;
          color: #fff;
          line-height: 40px;
        }
      }
      .login-form-inner{
        padding: 12px 64px;
        .btn-default {
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }
        .btn-sns-facebook {
          margin: 16px 0 0;
          background: #385185;
          color: #fff;
          #facebook-login{
          }
          .fa-facebook{
            float: left;
            padding: 12px 0;
            padding-left: 16px;
            font-size: 20px;
            display:inline-block;
            word-spacing:60px;
            .word-designation{
              color: #fff;
              font-size: 12px;
              font-weight: bold;
              display: inline;
            }
          }
        }
        .btn-sns-google{
          margin: 16px 0 0;
          background: #dc4e41;
          color: #fff;
          .fa-google-plus-g{
            float: left;
            padding: 12px 0;
            padding-left: 16px;
            font-size: 20px;
            display:inline-block;
            word-spacing:60px;
            color: #fff;
            .word-designation{
              color: #fff;
              font-size: 12px;
              font-weight: bold;
              display: inline;
            }
          }
        }
        .form-group{
          margin: 24px 0 0;
          .login-input-text{
          }
          .input-default{
            height: 28px;
            width: 295px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        .login-submit{
          margin: 24px 0 0;
        }
        .pword{
          display: block;
          margin: 40px 0 20px;
          color: #0099e8;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
  }
}
