.l-side{
  .l-side-product{
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    .transact-info-head{
      padding: 0;
      font-size: 16px;
    }
    .transact-info-inner{
      margin: 8px 0 0;
      background: #fff;
      .transact-info-table{
        border: 1px solid #eee;
        display: table;
        width: 100%;
        li{
          line-height: 1.5;
        }
        a{
          text-decoration: none;
        }
        .transact-info-table-row{
          display: table-row;
          .transact-info-table-cell{
            display: table-cell;
            padding: 16px;
            vertical-align: top;
            word-wrap: break-word;
            a{
              display: block;
              .is-higher-height{
                width: auto;
                max-height: 148px;
              }
              .transact-info-item{
                margin: 8px 0 0;
                color: #0099e8;
                text-decoration: underline;
                font-size: 16px;
                word-break: break-all;
                font-weight: 600;
              }
            }
            &:first-child{
              width: 35%;
            }
            &:last-child{
              width: 65%;
            }
            &::nth-child(even){
              background: #fafafa;
            }
          }
        }
      }
    }
  }
}
