//右のリスト全体
.l-container {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  border-style: solid;
  height: 100%;
  border-width: 0;
  width : 1020px;
  margin: 40px auto 0;
  padding: 0 0 40px;
  background-repeat: no-repeat;
}

//全体
.l-content {
  float : right;
  width : 700px;
  //右上
  .mypage-user-icon {
  height: 155px;
  position: relative;
  padding : 20px;
  background-size : cover;
  background: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?40116333);
  text-align : center;
  a {
    top: 50%;
    color: black;
    position : absolute;
    left: 0;
    right : 0;
    transform: translate(0, -50%);
    .form-wrapper{
      margin-top: 3px;
    }
    figure {
      overflow: hidden;
      width : 65px;
      height : 65px;
      margin : 0 auto;
      //border-radius : 50%;
      display : inline-block;
      .profile-image{
        width: 65px;
        height: 65px;
        overflow: hidden;
        border-radius: 50%;
      }
      img {
        vertical-align: middle;
        }
      }
    }
  }
}
//右下
  .mypage-tab-container-notification-todo{
    margin: 0;
    background: #fff;
    .mypage-tabs {
      border: 0;
      font-size: 0;
      li {
        background: #eee;
        width: 50%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        h3 {
          font-weight: bold;
          font-size: 22px;
          a{
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
          text-decoration: none;
        }
      }
    }
    li.active {
        font-weight: bold;
        border-top: solid 2px red;
        background: #fff;
        width: 50%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        h3 {
          font-weight: bold;
          font-size: 22px;
          a{
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
          text-decoration: none;
        }
      }
    }
  }
}

.tab-content {
      display: block;
      .mypage-item-list{
        li{
            border-bottom: 1px solid #eee;
            .mypage-item-link{
              display: block;
              height: 90px;
              padding: 16px;
              color: #333;
              figure{
                position: relative;
                overflow: hidden;
                float: left;
                width: 48px;
                height: 48px;
                display: block;
                img{
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  z-index: 1;
                  width: 100%;
              }
            }
          }
        }
        .mypage-go-list{
          padding: 16px;
          a{
            display: block;
            height: 56px;
            margin: 0 auto;
            background: #eee;
            color: #333;
            line-height: 56px;
            text-align: center;
      }
    }
  }
}

.mypage-tab-container{
  margin: 40px 0 0;
  background: #fff;
  .mypage-tab-head{
    font-weight: bold;
    padding: 0 16px;
    background: #fafafa;
    font-size: 16px;
    line-height: 72px;
  }
  .mypage-tabs{
    border: 0;
    background: #eee;
    font-size: 0;
    li.active {
      border-top: solid 2px red;
      background: #fff;
      width: 50%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      h3{
        font-weight: bold;
        font-size: 22px;
        a{
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
        }
      }
    }
    li {
      background: #eee;
      width: 50%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      h3{
        font-weight: bold;
        font-size: 22px;
        a{
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
        }
      }
    }
  }
  .exhibit{
    li.active {
      border-top: solid 2px red;
      background: #fff;
      width: 33%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      h3{
        font-weight: bold;
        font-size: 22px;
        a{
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
        }
      }
    }
    li {
      background: #eee;
      width: 33%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      h3{
        font-weight: bold;
        font-size: 22px;
        a{
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
        }
      }
    }

  }
  .tab-content{
    ul.active-item{
      height: 100%;
      display: block;
      .mypage-item-not-found{
        background: url(https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?40116333);
        background-repeat:no-repeat;
        padding: 160px 0 60px;
        background-position: center 40px;
        background-size: 78px 85px;
        text-align: center;
        font-size: 16px;
        color: #ccc;
        height: 50px;
      }
      li{
        position: relative;
        .mypage-item-status{
          background: #ea352d;
          display: inline-block;
          margin-top: 8px;
          padding: 5px 6px;
          border-radius: 2px;
          font-size: 12px;
          color: #fff;
          font-weight: 600;
        }
        .evaluated{
          background-color: #4f97f3;
        }
        .completed{
          background-color: #bebebe;
        }
        .mypage-item-link{
          display: block;
          min-height: 50px;
          padding: 16px;
          color: #333;
          text-decoration: none;
          figure{
            position: relative;
            overflow: hidden;
            float: left;
            width: 48px;
            height: 48px;
            margin: 0;
          }
          img{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
          }
          .mypage-item-body{
            margin: 0 40px 0 68px;
            .mypage-item-text{
              overflow: hidden;
              display: -webkit-box;
              max-height: 4.4em;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              line-height: 1.5;
            }
          }
        }
        &:first-child{
          border-bottom: 1px solid #eee;
        }
        &:last-child{
          border: 0;
        }
      }
    }
    ul.mypage-item-list{
      height: 200px;
      display: block;
      li{
        background: url(https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?40116333);
        background-repeat:no-repeat;
        padding: 160px 0 60px;
        background-position: center 40px;
        background-size: 78px 85px;
        text-align: center;
        font-size: 16px;
        color: #ccc;
      }
    }
  }
}

h2{
  margin: 8px 0 0;
  font-size: 14px;
  line-height: 1.4;
}

.bold {
  font-weight: 600;
}

.mypage-number {
  margin : 8px 0 0;
  font-size : 0;
  div{
    display: inline-block;
    font-size : 14px;
    span{
      margin : 0 0 0 8px;
      font-size: 16px;
    }
  }
  div{
    margin : 0 0 0 16px;
  }
}

//以下左のリストのもの
.l-side{
  .mypage-nav{
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  h3{
    font-weight: bold;
    margin: 40px 0 0;
  }
  .mypage-nav-list{
    display: block;
    list-style: none;
    .mypage-nav-list-item.active {
      font-weight: bold;
      border-bottom: 1px solid #eee;
      background-color: #eee;
      position: relative;
      display: block;
      min-height: 15px;
      padding: 18px;
      color: #333;
      }
    .mypage-nav-list-item {
      border-bottom: 1px solid #eee;
      position: relative;
      display: block;
      min-height: 15px;
      padding: 18px;
      background: #fff;
      color: #333;
      }
    }
  }
}

#profile_img{
  display: none;
}

.angle-right {
  position: absolute;
  top: 23px;
  right: 16px;
  font-size : 15px;
  opacity: 0.7;
}

a{
  text-decoration: none;
}

#profile_img_change {
  opacity: 0.6;
}
