%header.pc-header.visible-pc
  .pc-header-inner
    .clearfix
      %h1.l-left
        %a{:href => "/"}
          %img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4136293187"}/
      %form.pc-header-form.l-right{:action => ""}
        %input.input-default{:name => "keyword", :placeholder => "キーワードから探す", :type => "search", :value => ""}/
        %i.fa.fa-search
    .pc-header-nav-box.clearfix
      %nav.l-left
        %ul.pc-header-nav
          %li
            %h2
              %a.pc-header-nav-foot{:href => ""} カテゴリーから探す
            %ul{"data-mega" => ""}
              %li
          %li
            %h2
              %a.pc-header-nav-root{:href => ""} ブランドから探す
              %ul.pc-header-nav-parent-wrap
                %li
      .l-right2
        %ul.pc-header-login-nav
          %li
            %a.sp-header-btn.btn-red{:href => users_path} ログイン
          %li
            %a.sp-header-btn.header-signup{:href => new_user_registration_path} 新規会員登録
