%section.owl-carousel.top-carousel.owl-loaded.owl-drag
  .owl-stage-outer
    .owl-stage
      .owl-item
        %div
          .top-main-visual
            %div
              .top-main-visual-content
                %h2
                  スマホでかんたん
                  %br
                  フリマアプリ
                %p
                  メルカリはスマホカメラからすぐに出品できる
                  %br
                  購入時も安心な独自システムのアプリです
                .top-main-visual-store.clearfix
                  %a.pull-left{ href: "#", target: "_blank" }
                    %img{ src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4136293187", alt: "" }
                  %a.pull-left{ href: "#", target: "_blank" }
                    %img{ src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4136293187", alt: "" }
              %img.top-main-visual-iphone-picture{ src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?4136293187", alt: "" }
      .owl-item
        %a.top-banner.banner-bokurano-heisei{ href: "#" }
      .owl-item
        %a.top-banner.banner-kusanagi{ href: "#" }
      .owl-item
        %a.top-banner.banner-welcome{ href: "#" }
%section.pickup-container
  %h2.pickup-head ピックアップカテゴリー
  %section.items-box-container.clearfix
    %h3.text-center
      %a{:href => ""}
        レディース 新着アイテム
    .items-box-content.clearfix
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "【ストロベリーフィールズ】パンプス サンダル", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858"}/
          .items-box-body
            %h3.items-box-name.font-2 【ストロベリーフィールズ】パンプス サンダル
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 2,100
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "22OCTOBRE ダウンジャケットこげ茶38号", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414"}/
          .items-box-body
            %h3.items-box-name.font-2 22OCTOBRE ダウンジャケットこげ茶38号
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 9,000
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "UNIQLO ユニクロ カーディガン セーター  L", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597"}/
          .items-box-body
            %h3.items-box-name.font-2 UNIQLO ユニクロ カーディガン セーター  L
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,650
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "ルイヴィトン エピ マルゼルブ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170"}/
          .items-box-body
            %h3.items-box-name.font-2 ルイヴィトン エピ マルゼルブ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 42,000
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
    .view-all
      %a{:href => ""} すべての商品を見る

  %section.items-box-container.clearfix
    %h3.text-center
      %a{:href => ""}
        メンズ 新着アイテム
    .items-box-content.clearfix
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "【ストロベリーフィールズ】パンプス サンダル", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858"}/
          .items-box-body
            %h3.items-box-name.font-2 【ストロベリーフィールズ】パンプス サンダル
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 2,100
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "22OCTOBRE ダウンジャケットこげ茶38号", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414"}/
          .items-box-body
            %h3.items-box-name.font-2 22OCTOBRE ダウンジャケットこげ茶38号
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 9,000
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "UNIQLO ユニクロ カーディガン セーター  L", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597"}/
          .items-box-body
            %h3.items-box-name.font-2 UNIQLO ユニクロ カーディガン セーター  L
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,650
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "ルイヴィトン エピ マルゼルブ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170"}/
          .items-box-body
            %h3.items-box-name.font-2 ルイヴィトン エピ マルゼルブ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 42,000
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
    .view-all
      %a{:href => ""} すべての商品を見る

  %section.items-box-container.clearfix
    %h3.text-center
      %a{:href => ""}
        ベビー・キッズ 新着アイテム
    .items-box-content.clearfix
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "【ストロベリーフィールズ】パンプス サンダル", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858"}/
          .items-box-body
            %h3.items-box-name.font-2 【ストロベリーフィールズ】パンプス サンダル
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 2,100
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "22OCTOBRE ダウンジャケットこげ茶38号", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414"}/
          .items-box-body
            %h3.items-box-name.font-2 22OCTOBRE ダウンジャケットこげ茶38号
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 9,000
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "UNIQLO ユニクロ カーディガン セーター  L", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597"}/
          .items-box-body
            %h3.items-box-name.font-2 UNIQLO ユニクロ カーディガン セーター  L
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,650
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "ルイヴィトン エピ マルゼルブ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170"}/
          .items-box-body
            %h3.items-box-name.font-2 ルイヴィトン エピ マルゼルブ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 42,000
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
    .view-all
      %a{:href => ""} すべての商品を見る

  %section.items-box-container.clearfix
    %h3.text-center
      %a{:href => ""}
        コスメ・香水・美容 新着アイテム
    .items-box-content.clearfix
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "【ストロベリーフィールズ】パンプス サンダル", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858"}/
          .items-box-body
            %h3.items-box-name.font-2 【ストロベリーフィールズ】パンプス サンダル
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 2,100
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "22OCTOBRE ダウンジャケットこげ茶38号", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414"}/
          .items-box-body
            %h3.items-box-name.font-2 22OCTOBRE ダウンジャケットこげ茶38号
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 9,000
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "UNIQLO ユニクロ カーディガン セーター  L", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597"}/
          .items-box-body
            %h3.items-box-name.font-2 UNIQLO ユニクロ カーディガン セーター  L
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,650
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "ルイヴィトン エピ マルゼルブ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170"}/
          .items-box-body
            %h3.items-box-name.font-2 ルイヴィトン エピ マルゼルブ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 42,000
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
    .view-all
      %a{:href => ""} すべての商品を見る


%section.pickup-container
  %h2.pickup-head ピックアップブランド
  %section.items-box-container.clearfix
    %h3.text-center
      %a{:href => ""}
        シャネル 新着アイテム
    .items-box-content.clearfix
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "【ストロベリーフィールズ】パンプス サンダル", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858"}/
          .items-box-body
            %h3.items-box-name.font-2 【ストロベリーフィールズ】パンプス サンダル
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 2,100
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "22OCTOBRE ダウンジャケットこげ茶38号", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414"}/
          .items-box-body
            %h3.items-box-name.font-2 22OCTOBRE ダウンジャケットこげ茶38号
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 9,000
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "UNIQLO ユニクロ カーディガン セーター  L", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597"}/
          .items-box-body
            %h3.items-box-name.font-2 UNIQLO ユニクロ カーディガン セーター  L
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,650
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "ルイヴィトン エピ マルゼルブ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170"}/
          .items-box-body
            %h3.items-box-name.font-2 ルイヴィトン エピ マルゼルブ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 42,000
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
    .view-all
      %a{:href => ""} すべての商品を見る

  %section.items-box-container.clearfix
    %h3.text-center
      %a{:href => ""}
        ルイ ヴィトン 新着アイテム
    .items-box-content.clearfix
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "【ストロベリーフィールズ】パンプス サンダル", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858"}/
          .items-box-body
            %h3.items-box-name.font-2 【ストロベリーフィールズ】パンプス サンダル
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 2,100
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "22OCTOBRE ダウンジャケットこげ茶38号", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414"}/
          .items-box-body
            %h3.items-box-name.font-2 22OCTOBRE ダウンジャケットこげ茶38号
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 9,000
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "UNIQLO ユニクロ カーディガン セーター  L", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597"}/
          .items-box-body
            %h3.items-box-name.font-2 UNIQLO ユニクロ カーディガン セーター  L
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,650
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "ルイヴィトン エピ マルゼルブ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170"}/
          .items-box-body
            %h3.items-box-name.font-2 ルイヴィトン エピ マルゼルブ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 42,000
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
    .view-all
      %a{:href => ""} すべての商品を見る

  %section.items-box-container.clearfix
    %h3.text-center
      %a{:href => ""}
        シュプリーム 新着アイテム
    .items-box-content.clearfix
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "【ストロベリーフィールズ】パンプス サンダル", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858"}/
          .items-box-body
            %h3.items-box-name.font-2 【ストロベリーフィールズ】パンプス サンダル
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 2,100
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "22OCTOBRE ダウンジャケットこげ茶38号", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414"}/
          .items-box-body
            %h3.items-box-name.font-2 22OCTOBRE ダウンジャケットこげ茶38号
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 9,000
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "UNIQLO ユニクロ カーディガン セーター  L", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597"}/
          .items-box-body
            %h3.items-box-name.font-2 UNIQLO ユニクロ カーディガン セーター  L
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,650
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "ルイヴィトン エピ マルゼルブ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170"}/
          .items-box-body
            %h3.items-box-name.font-2 ルイヴィトン エピ マルゼルブ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 42,000
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
    .view-all
      %a{:href => ""} すべての商品を見る

  %section.items-box-container.clearfix
    %h3.text-center
      %a{:href => ""}
        ナイキ 新着アイテム
    .items-box-content.clearfix
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "【ストロベリーフィールズ】パンプス サンダル", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55414947404_1.jpg?1545841858"}/
          .items-box-body
            %h3.items-box-name.font-2 【ストロベリーフィールズ】パンプス サンダル
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 2,100
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "22OCTOBRE ダウンジャケットこげ茶38号", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15730862176_1.jpg?1545543414"}/
          .items-box-body
            %h3.items-box-name.font-2 22OCTOBRE ダウンジャケットこげ茶38号
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 9,000
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "UNIQLO ユニクロ カーディガン セーター  L", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m46275665153_1.jpg?1545152597"}/
          .items-box-body
            %h3.items-box-name.font-2 UNIQLO ユニクロ カーディガン セーター  L
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,650
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => ""}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "ルイヴィトン エピ マルゼルブ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m98516872559_1.jpg?1545702170"}/
          .items-box-body
            %h3.items-box-name.font-2 ルイヴィトン エピ マルゼルブ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 42,000
              .items-box-likes.font-2
                %i.far.fa-heart
                %span 4
              %p.item-box-tax (税込)
    .view-all
      %a{:href => ""} すべての商品を見る
