%section.item-box-container.l-single-container
  %h1.item-name
    SAMPLE
  .item-main-content.clearfix
    .item-photo
      .owl-carousel.owl-loaded.owl-drag
        .owl-stage-outer
          .owl-stage
            .owl-item
              .owl-item-inner
                %img.owl-lazy(src="#")
            .owl-item
              .owl-item-inner
                %img.owl-lazy
            .owl-item
              .owl-item-inner
                %img.owl-lazy
            .owl-item
              .owl-item-inner
                %img.owl-lazy
        .owl-nav.disable
          .owl-prev
          .owl-next
        .owl-dots
          .owl-dot
            %span
            .owl-dot-inner
              %img
          .owl-dot
            %span
            .owl-dot-inner
              %img
          .owl-dot
            %span
            .owl-dot-inner
              %img
          .owl-dot
            %span
            .owl-dot-inner
              %img
      .item-sold-out-badge
        %div
          SOLD

    %table.item-detail-table
      %tbody
        %tr
          %th
            出品者
          %td
            =link_to "#" do
              出品者ネーム
            %div
              %div.item-user-ratings
                %i.fas.fa-smile
                %span
                  643
              %div.item-user-ratings
                %i.fas.fa-meh
                %span
                  22
              %div.item-user-ratings
                %i.fas.fa-frown
                %span
                  3
        %tr
          %th
            カテゴリー
          %td
            =link_to "#" do
              %div
                レディース
            =link_to "#" do
              .item-detail-table-sub-category
                %i.icon-arrow-right
                  バッグ
            =link_to "#" do
              .item-detail-table-sub-sub-category
                %i.icon-arrow-right
                  ショルダーバッグ
        %tr
          %th
            ブランド
          %td
            =link_to "#" do
              コーチ
        %tr
          %th
            商品の状態
          %td
            やや傷や汚れあり
        %tr
          %th
            配送料の負担
          %td
            送料込み(出品者負担)
        %tr
          %th
            配送の方法
          %td
            らくらくメルカリ便
        %tr
          %th
            配送元地域
          %td
            =link_to "#" do
              兵庫県
        %tr
          %th
            発送日の目安
          %td
            1~2日で発送
  .item-price-box.text-center
    %span.item-price.bold
      ¥ 3,380
    %span.item-tax
      (税込)
    %span.item-shipping-fee
      送料込み
  .item-buy-btn.disabled
    売り切れました

  .item-description
    %p.item-description-inner
      text
  .item-button-container.clearfix
    .item-button-left
      %button.item-button.item-button-like
        %i.far.fa-heart
        %span いいね！
        %span.fade-in-down 14
      %a.item-button.item-button-report.crearfix
        %i.far.fa-flag
        %span 不適切な商品の報告

    .item-button-right
      %a(href='#')
        %i.fas.fa-lock
        %span あんしん・あんぜんへの取り組み


%ul.nav-item-link-prev-next.clearfix
  %li.nav-item-link-prev
    %a(href='#')
      %i.fas.fa-chevron-left
      商品名
  %li.nav-item-link-next
    %a(href='#')
      商品名
      %i.fas.fa-chevron-right



.item-social-media-box
  / よくわからない者以下
  .text-center
    .fb-save.fb_iframe_widget
      %span
  %ul.social-media-box
    %li
      %a.share-btn(href="#")
        %i.fab.fa-facebook
    %li
      %a.share-btn(href="#")
        %i.fab.fa-twitter
    %li.social-hiddne-item
      %a(href="#")
        %i.fab.fa-line
    %li
      %a(href="#")
        %i.fab.fa-pinterest



